body {
 	background-color: #880000;
 	background-image: url("https://i.redd.it/wc436nf7fdpy.png");
	background-size: cover;
 	margin: 0;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: crisp-edges;
	
	width: 1000px;
	height: 1000px;
	background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:5px solid #000000;
}

button {
	height: 70px;
	width: 5%;
	border: 5px solid #222222;
    text-align: center;
    display: inline-block;
    cursor: pointer;
	border-radius: 25px;
}

li {
    font-family: monospace;
	font-size: 14px;
	margin-left: 0px;
}

#console-debug {
	float: left;
	margin-left: 15px;
	width: 480px;
}

#console {
 	background-color: #333333;
 	color: #cccccc;
 	border: 3px solid #000000;
 	height: 1000px;
 	width: 100%;
}

#inputfield {
    border:10px;
    text-align: center;
}

#messages {
	background-color: #888888;
	margin: 0;	
    text-align: center;
}

